body {
	margin: 50px;
	font-family: "Lato";
  background-color: #f9f9fa;
}
label {
	cursor: default;
}
#save {
	margin-top: 1em;
}
#css {
	width: 412px;
	height: 206px;
	font-family: "Monaco", "Source Code Pro", "Consolas", monospace; 
}