@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/300.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/400.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/700.ttf) format('truetype');
}