body {
	color: #003D51;
	font-family: "Lato";
	font-size: 12em;
	font-weight: 700;
	margin: auto;
	padding-top: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #FFFFFF;
	text-align: center;
	-moz-touch-callout: none;
	-moz-user-select: none;
	opacity: 0;
}

#conditions {
	opacity: 0;
	font-size: 0.15em;
	font-weight: 700;
	display: block;
	cursor: pointer;
}

a {
	text-decoration: none;
}

#date {
	position: relative;
	top: -2.8em;
	font-weight: 300;
}

.wunderground {
	display: block;
	font-weight: 300;
}

div {
	cursor: default;
}